.site{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #FFFBC7;
    background-image: url('../images/bg_pattern.png');
}
.custom_w_100{
    width: 100%;
}
.bttn_wrapper a{
    width: 100%;
    display: block;
}
.bttn_wrapper img{
    width: 100%;
}
section.section_cycle {
    padding: 10px 0;
}
.section_graph .graph_tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.section_graph .graph_tab .bx{
    position: relative;
    width: 32%;
    background-color: #D10000;
    border-radius: 5px;
    padding: 12px;
}
.section_graph .graph_tab .bx.act:before{
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-width: 20px 20px 0 20px;
    border-style: solid;
    border-color: #D10000 transparent transparent transparent;
}
.section_graph .graph_tab .bx img{
    width: 70%;
    margin: auto;
}
.section_graph .top_content img,
.section_graph .btm_content img{
    width: 80%;
    margin: auto;
}
.section_graph .graph_img{
    padding: 30px 0;
}

.section_acheivement{
    position: relative;
    padding-bottom: 10px;
}
.section_acheivement .bttn_wrapper{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 25%;
}
.section_graph{
    position: relative;
    padding: 10px 0;
}
.section_graph .bttn_wrapper{
    display: none;
}
.section_gallery{
    position: relative;
    padding: 10px 0;
}
.section_gallery .bttn_wrapper{
    display: none;
}
.section_table{
    position: relative;
}
.section_table .bttn_wrapper{
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 26%;
}
.section_service{
    position: relative;
}
.section_service .bttn_wrapper{
    display: none;
}
.site_footer{
    position: relative;
}
.site_footer .bttn_wrapper{
    position: absolute;
    bottom: 9%;
    right: 9%;
    width: 28%;
}

@media (max-width: 675px){
    .section_acheivement .bttn_wrapper{
        position: static;
        width: 38%;
        margin: 10px auto 0;
    }
    .section_graph .bttn_wrapper{
        display: block;
        width: 50%;
        margin: auto;
        padding-left: 11%;
    }
    .section_gallery .bttn_wrapper{
        display: block;
        width: 40%;
        margin: auto;
    }
    .section_table .bttn_wrapper {
        bottom: 24%;
        right: 0;
        width: 34%;
        left: 0;
        margin: auto;
    }
    .section_service .bttn_wrapper{
        display: block;
        width: 42%;
        margin: auto;
        position: absolute;
        bottom: 1.5%;
        left: 0;
        right: 0;
    }
    .site_footer .bttn_wrapper {
        bottom: 5.5%;
        right: 0;
        width: 57%;
        left: 0;
        margin: auto;
    }
}